
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&family=EB+Garamond:wght@400;500;600;700&display=swap');
@import "tailwindcss";

/* Tailwind v4 theme for custom fonts */
@theme {
  --font-fira: "Fira Sans", sans-serif;
  --font-garamond: "EB Garamond", serif;
  --font-arial: Arial, sans-serif;
}

/* Optional root styles */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
